%section#about
  %p
    This project is based on the <a href="http://darowski.com/hall-of-wwar">Hall of wWAR</a>, an alternate Hall of Fame populated by a single statistic.
    That statistic, <strong>weighted Wins Above Replacement</strong> (or <strong>wWAR</strong>), combines the value of all aspects of a player’s contributions (hitting, pitching,
    fielding, baserunning, position, etc.) and gives additional adjustments for peak performance, playoff heroics, and season length.
    Read more <a href="http://darowski.com/hall-of-wwar">about wWAR</a> for more information.
  %p
    The Red Sox Hall of wWAR takes the same approach, but instead re-populates the <a href="http://boston.redsox.mlb.com/bos/history/feature_hall_of_fame.jsp">Red Sox Hall of Fame</a>. There are 56 players in the Red Sox Hall of Fame. 

%section#toggles
  %dl
    %dt Filter:
    %dd<
      %a#show-hall{:href => "#show-hall"}
        Red Sox Hall of wWAR
        %span (#{wwar_hall_count})
    %dd<>
      %a#show-all{:href => "#show-all"}
        All Red Sox Players with 5+ WAR
        %span (#{@players.size})
  %dl#positions
    %dt Positions:
    %dd<
      %a#show-p{:href => "#show-p"}
        P
        %span
    %dd<>
      %a#show-c{:href => "#show-c"}
        C
        %span
    %dd<>
      %a#show-1b{:href => "#show-1b"}
        1B
        %span
    %dd<>
      %a#show-2b{:href => "#show-2b"}
        2B
        %span
    %dd<>
      %a#show-3b{:href => "#show-3b"}
        3B
        %span
    %dd<>
      %a#show-ss{:href => "#show-ss"}
        SS
        %span
    %dd<>
      %a#show-lf{:href => "#show-lf"}
        LF
        %span
    %dd<>
      %a#show-cf{:href => "#show-cf"}
        CF
        %span
    %dd<>
      %a#show-rf{:href => "#show-rf"}
        RF
        %span
    %dd<>
      %a#show-dh{:href => "#show-dh"}
        DH
        %span
  %dl#adjustments
    %dt Adjustments:
    %dd<
      %a#whos-in{:href => "#whos-in"}
        Who's In?
        %span (#{whos_in_count})
    %dd<>
      %a#whos-out{:href => "#whos-out"}
        Who's Out?
        %span (#{whos_out_count})
    %dd<>
      %a#whos-next{:href => "#whos-next"}
        Who's Next?
        %span (#{whos_next_count})

%ol#players
  - @players.each do |player|
    %li{:class => player_class(player)}
      = link_to(player_path(player)) do
        %dl
          %dt
            %span.first-name= player.first_name
            %span.last-name= player.last_name
          %dd.position= player.pos
          %dd.value #{player.wwar_norm} wWAR
          %dd.photo
            %img{:src => player_image(player)}/
