%section#player

  %header
    %img{:src => player_image(@player), :alt => @player.full_name + ' Photo', :width => '90', :height => '135'}
    %h1= @player.full_name
    %span#player-position= @player.pos

    %table#player-totals
      - columns, values = player_total_stats(@player)
      %thead
        %tr
          - columns.each do |col|
            %th
              %abbr{:title => col.last}= col.first
      %tbody
        %tr
          - values.each do |value|
            %td= value

  // if any of the following is true, render the ul
  %ul#honors
    // if his hof_status is hof and induction_year
    %li#rs-hof Member of Red Sox Hall of Fame (2002)
    // if he is among the group of 56 players
    %li#rs-wwar Member of Red Sox Hall of wWAR
    // if he is among the group of 15 future players
    %li#rs-future Future Member of Red Sox Hall of wWAR

  %table#player-seasons
    - columns, rows = player_season_stats(@player)
    %thead
      %tr
        - columns.each do |col|
          %th
            %abbr{:title => col.last}= col.first
    %tbody
      - rows.each do |values|
        %tr
          - values.each do |value|
            %td= value
