%section#player

  %header
    %img{:src => player_image(@player), :alt => @player.full_name + ' Photo', :width => '90', :height => '135'}
    %h1= @player.full_name
    %span#player-position= @player.pos

    %table#player-totals
      - columns, values = player_total_stats(@player)
      %thead
        %tr
          - columns.each do |col|
            %th
              %abbr{:title => col.last}= col.first
      %tbody
        %tr
          - values.each do |value|
            %td= value

  - if has_honors?
    %ul#honors
      - if @player.hof_status == 'hof'
        %li#rs-hof Member of Red Sox Hall of Fame (#{@player.induction_year})

      - if @player.wwar_status
        %li#rs-wwar Member of Red Sox Hall of wWAR

      - if @player.future_wwar
        %li#rs-future Future Member of Red Sox Hall of wWAR

  #seasons-container
    %table#player-seasons
      - columns, rows = player_season_stats(@player)
      %thead
        %tr
          - columns.each do |col|
            %th
              %abbr{:title => col.last}= col.first
      %tbody
        - rows.each do |values|
          %tr
            - values.each do |value|
              %td= value
  %dl#key
    %dt wWAR
    %dd Weighted Wins Above Replacement (adjusted for peak performance, playoff heroics, season length, etc.).
    %dt WAR/pos
    %dd WAR earned as an offensive/position player.
    %dt WAR/p
    %dd WAR earned as a pitcher.
    %dt WAR/tot
    %dd Combined WAR as offensive/position player and pitcher.
    %dt WAR/162
    %dd Total WAR adjusted for season length.
    %dt WAE
    %dd Wins Above Excellence (all single season WAR above 3.0*).
    %dt WAM
    %dd Wins Above MVP Level (all single season WAR above 3.0*).
    %dt wWPA
    %dd Weighted Postseason Win Probability Added.